/* Reset */

html, body {
  background-color: #f3f3f3;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #666;
  font-size: 16px;
}

* {
  outline: none;
}

/* Headers */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #000;
}

/* Containers */

[container] {
  min-width: 1200px;
}

.scroll-container {
  overflow-x: auto;
  overflow-y: hidden;
  margin-bottom: 100px;
}

.quote {
  display: block;
  width: 100%;
  margin: 25px auto;
  text-align: center;
  padding: 10px;
  font-size: 1.15em;
  color: #aaa;
  font-style: italic; 
}

.menu {
  line-height: 32px;
}

.menu ul {
  display: table;
  vertical-align: middle;
  padding-left: 0;
}

.menu ul li {
  display: table-cell;
  list-style: none;
  font-size: 14px;
}

.menu > ul > li {
  border-right: 1px solid rgba(0,0,0,0.1);
}

.menu ul li:last-child {
  border-right: 0;
  margin-right: 0;
  padding-right: 0;
}
.menu ul li:not(.dropdown) {
  padding-left: 16px;
  padding-right: 16px;
}

.menu ul li:not(.dropdown):hover,
.menu ul li:not(.dropdown):active {
  cursor: pointer;
  background-color: #fff;
}
.menu i {
  padding-left: 8px;
  font-size: 14px;
}

/* Inputs */

input.text-input {
  padding: 5px 5px 5px 0;
  height: auto;
  border: 0;
  outline: 0;
  font-size: 14px;
  background-color: transparent;
  /*border-bottom: 1px solid rgba(0,0,0,0.25) !important;*/
  border-radius: 0;
  color: #222;
  box-shadow: none !important;
  min-width: 400px;
}

span.dropdown-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: transparent !important;
}

span.dropdown {
  cursor: pointer;
  position: relative;
  height: 32px;
  line-height: 32px;
  overflow: visible;
}

span.dropdown .selected {
  text-align: center;
}

span.dropdown:hover,
span.dropdown:active {
  background-color: #fff;
}

span.dropdown ul.items {
  display: block;
  background-color: #fafafa;
  position: absolute;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  top: 0;
  left: 0;
  list-style: none;
  padding-left: 0;
  z-index: 2;
  margin: 0 -16px;
}

span.dropdown ul.items li { 
  display: block;
  padding: 6px 24px;
}

span.dropdown ul.items li:hover {
  cursor: pointer;
  background-color: #fff;
}

/* Modals */

.modal {
  position: fixed;
  margin-top: 10%;
  width: 600px;
  min-height: 300px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
  z-index: 2;
  opacity: 1;
  overflow: hidden;
  background-color: transparent;
  pointer-events: unset;
}

.modal-backdrop {
  opacity: 0;
  z-index: -1;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.35);
  transition: opacity 500ms;
}

.modal-backdrop.show {
  z-index: 1;
  opacity: 1;
}

/* Images */

*.logo {
  display: inline-block;
  transform: scale(0.5);
  margin: -25px;
}

/* Tables */

table {
  margin-bottom: 0;
  empty-cells: show;
}

table thead tr {
  background-color: #eaeaea;
  /*background-color: #FCE38A;*/
  color: #444;
}
table thead th {
  padding: 6px 20px;
}

table td {
  /*font-size: 14px;*/
  line-height: 22px;
  padding: 0 20px;
  vertical-align: middle;
}

td.sortable {
  background-color: rgba(0,0,0,0.02);
}

td.highlight-cell {
  background-color: rgba(255, 215, 0, 0.15);
}

table thead tr th.highlightable-cell {
  background-color: #ddd;
}

th.highlightable-cell:hover,
th.highlightable-cell:active {
  background-color: #aaa;
}

table thead tr th.highlight-cell {
  background-color: #bbb;
}

.table--border thead, 
.table--border td {
  border-bottom: 1px solid #f7f7f7;
}

#teamname {
  max-width: 100px;
  padding-right: 5px;
}

/* Backgrounds */

.bg-grey {
  background-color: #f3f3f3;
}

.bg-lightgrey {
  background-color: #fefefe;  
}

/* Borders */

.border-top {
  border-top: 4px solid rgba(0,0,0,0.3);
}

.border-bottom {
  border-bottom: 4px solid rgba(0,0,0,0.3);
}

/* Text */

.bold {
  font-weight: 800;
}

/* Spinner */

.loading {
  margin: 25px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.loading > div {
  background-color: #666;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.loading .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.loading .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.loading .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.loading .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

/* Helpers */

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently */
}

.pointer {
  cursor: pointer;
}

p.centered,
span.centered {
  text-align: center;
}

div.centered, 
button.centered {
  display: block;
  margin: 10px auto 0;
}

.floating {
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.rounded {
  display: block;
  border-radius: 10px;
}

.spaced {
  margin: 50px 10px;
}

.inline-block {
  display: inline-block;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 120px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}