<div row>
  <h1 class="centered">good rating {{foo}}</h1>
  <div class="bg-lightgrey spaced scroll-container floating">
    <table class="table--flat table--hoverRow table--responsive">
      <thead>
        <tr class="bold">
          <th scope="col">Rank</th>
          <th scope="col" colspan="2">Team</th>
          <th scope="col" class="pointer highlightable-cell" ng-class="{'highlight-cell': sortColumn === 'win_percentage_rating'}" ng-click="sortBy('win_percentage_rating')">Wins</th>
          <th scope="col" class="pointer highlightable-cell" ng-class="{'highlight-cell': sortColumn === 'ypp_offense_rating'}" ng-click="sortBy('ypp_offense_rating')">Offense</th>
          <th scope="col" class="pointer highlightable-cell" ng-class="{'highlight-cell': sortColumn === 'ypp_defense_rating'}" ng-click="sortBy('ypp_defense_rating')">Defense</th>
          <th scope="col" class="pointer highlightable-cell" ng-class="{'highlight-cell': sortColumn === 'recruiting_score_rating'}" ng-click="sortBy('recruiting_score_rating')">Players</th>
          <th scope="col" class="pointer highlightable-cell" ng-class="{'highlight-cell': sortColumn === 'ats'}" ng-click="sortBy('ats')">ATS</th>
          <th scope="col" class="pointer highlightable-cell" ng-class="{'highlight-cell': sortColumn === 'total_rating'}" ng-click="sortBy('total_rating')">Total</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-if="!loaded" class="bg-grey">
          <td scope="col" colspan="9">
            <spinner loaded="loaded"></spinner>
          </td>
        </tr>
        <tr ng-repeat="r in ratings">
          <td ng-bind="r.rank" class="truncate" title="Team Rank (Total Rating)"></td>
          <td ng-bind="r.name" title="Team Name"></td>
          <td><span class="logo" ng-class="'icon-' + r.slug" title="{{r.name}}"></span>&nbsp;</td>
          <td ng-bind="r.win_percentage_rating" class="truncate sortable" ng-class="{'highlight-cell': sortColumn === 'win_percentage_rating'}" title="Win Percentage Rating"></td>
          <td ng-bind="r.ypp_offense_rating" class="truncate sortable" ng-class="{'highlight-cell': sortColumn === 'ypp_offense_rating'}" title="Offensive Rating"></td>
          <td ng-bind="r.ypp_defense_rating" class="truncate sortable" ng-class="{'highlight-cell': sortColumn === 'ypp_defense_rating'}" title="Defensive Rating"></td>
          <td ng-bind="r.recruiting_score_rating" class="truncate sortable" ng-class="{'highlight-cell': sortColumn === 'recruiting_score_rating'}" title="Player Rating"></td>
          <td ng-bind="r.ats" class="truncate sortable" ng-class="{'highlight-cell': sortColumn === 'ats'}" title="Against the Spread"></td>
          <td ng-bind="r.total_rating" class="truncate sortable" ng-class="{'highlight-cell': sortColumn === 'total_rating'}" title="Total Rating"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>