<div row>
  <h1 class="centered">good rating {{foo}}</h1>
  <div class="bg-lightgrey border-top spaced scroll-container">
    <table class="table--flat table--hoverRow table--responsive">
      <thead>
        <tr>
          <th scope="col">Rank</th>
          <th scope="col">Team</th>
          <th scope="col">Win % Score</th>
          <th scope="col">Offense Score</th>
          <th scope="col">Defense Score</th>
          <th scope="col">Player Score</th>
          <th scope="col">Total Score</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="r in ratings">
          <td>#</td>
          <td ng-bind="r.name"></td>
          <td ng-bind="r.win_percentage_rating">/td>
          <td ng-bind="r.ypp_offense_rating"></td>
          <td ng-bind="r.ypp_defense_rating"></td>
          <td ng-bind="r.recruiting_score_rating"></td>
          <td ng-bind="r.total_rating"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>